BOT_TOKEN=
BOT_USERNAME=rngn_reels_wc_bot
WEBHOOK_SECRET=
DATABASE_URL=
ADMIN_CHAT_ID=-5520370963
GOOGLE_SERVICE_ACCOUNT_JSON_B64=
GOOGLE_SHEETS_SPREADSHEET_ID=
YOUTUBE_API_KEY=
CRON_SECRET=
TZ=Europe/Helsinki
BOOTSTRAP_SUPERADMIN_IDS=
